<!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand fw-bold d-flex align-items-center" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}"    alt="Mosudi I. O." class="me-2">
                <span>Mosudi I. O. </span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}" aria-label="About Mosudi">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('projects') }}" aria-label="Selected Projects">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}" aria-label="Contact Mosudi">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>